<%- include("partials/header") %>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="">Title</label>
        <input class="form-control" type="text" name="title">
        <label for="">Post</label>
        <textarea id="user-input" class="form-control" name="body" cols="30" rows="5"></textarea>
    </div>
    <button class="btn btn-light" style="background: white; border: 1px solid black" type="submit">Submit</button>
</form>

<%- include("partials/footer") %>